.filler{
	background:linear-gradient(0deg, rgba(221,159,65, .25), rgba(0, 0, 0, 0.95)), url('/images/pierce.webp');
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65% 100%;
}