.landing{
	background:linear-gradient(0deg, rgba(221,159,65, .25), rgba(0, 0, 0, 0.95)), url('/images/landing.webp');
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65% 100%;
}
.landingHero{
	font-family: 'Great Vibes', cursive;
}
.landingLato{
	font-family: 'Lato', sans-serif;
}